
/* font color for certain elements */
nav ul a,
nav .brand-logo {
  color:white ;
}

nav {
  background:grey;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: lightgray;
}

main {
  flex: 1 0 auto;
}


/* Line Height Sizing For <p> Elements */
p {
  line-height: 2rem;
}

/* COLOR OF HAMBURGER MENU */
.sidenav-trigger {
  color: #26a69a;
}

ul .collection {
  background-color: grey;
}
/* MAIN BODY CONTAINER FORMATTING */
/* THIS IS WHERE APIS GET PULLED TO */
.parallax-container {
  
  min-height: 100vh;
  position: relative;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
    
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
    
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
    
  }
  
}

/* ICON FORMATTING */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

/* FOOTER FORMATTING */
footer.page-footer {
  margin: 0;
}

/* HEADER HEIGHT */
.toneHeader {
  height: 5%;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

